main {
    margin: 9.5% 9.5% 5.31% 9.5%;
  }
/* Listen button */
#listenBtn {
    background: #326760;
    color: white;
    border: 0.391vw solid #326760;
    padding: 3% 4%;
    outline: 0.3vw solid white;
    outline-offset: -1.3vw;
    border-radius: 1.5vw;
    gap: 10%;
    display: flex;
}

/* play icon */
#listenBtn img {
    margin-top: 2.5%;
    margin-left: -7%;
}

/* text and image */
.text_and_image {
    display: flex;
    gap: 3.5%;
    margin: 6% 0%;
}

.textColom {
    width: 45%;
}

.text_and_image img {
    width: 362px;
    height: 362px;
}

.imageStory {
    margin-top: 10%;
    text-align: center;
}

.imageStory img {
    width: 362px;
    height: 362px;
}

/* buttons */
button {
    border-radius: 1.5vw;

}

#myStories {
    background: transparent;
    border: 0.391vw solid #000;
    padding: 3% 4%;
    margin-top: 39%;
}

#startNewstory {
    background: #326760;
    color: white;
    border: 0.391vw solid #326760;
    padding: 3% 4%;
    float: right;
    outline: 0.3vw solid white;
    outline-offset: -1.3vw;
    margin-top: 39%;
}

/* settingsbar */

.settingsbar{
    background-image: url("../img/old_paper-settingsbar.webp");
    display: flex;
    margin-top: 5.7%;
}

.settingsbar img{
    padding: 2% 20%;
}

.settingsbar button{
    background:none;
    border: none;
}

#fontPopover{
    background-image: url("../img/old_paper-settingsbar.webp");
    width: 40%;
    padding: 3% 4%;
    border-radius: 3%;
    margin-top: 77.5%;
    margin-left: 30%;
}

.changeFontsize{
    display: flex;
    margin-left: 6%;
    width: 71%;
    margin-top: 15%;
    margin-bottom: 15%;
}

.changeFontsize img{
    padding: 0% 0%;
}

.changeLineheight img{
    padding: 0% 0%;
}

.changeLineheight{
    display: flex;
    margin-left: 4.5%;
    width: 71%;
    margin-top: 15%;
    margin-bottom: 15%;
}

input{
    background: none;
    border: none;
    text-align: center;
    font-size: 1.5625rem;
    align-self: center;
    margin-top: 0;
    border-bottom: thick black dotted;
    margin: 0% 2%;
}

::placeholder{
    color: #000;
}

h2 span {
    color: #742335;
    font-family: Lucida Calligraphy;
    font-size: 1.5625rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }

  h2 {
    color: #000;
    font-family: Lucida Calligraphy;
    font-size: 1.5625rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }