@import url(reset.css);

* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/old-paper-bg.png);
}

:root {
  --primary-red: #742335;
  --primary-gold: #d0b306;
  --primary-green: #326760;
  --secondary-blue: #63adc3;
  --secondary-brown: #733224;
}