@import url(reset.css);

* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/old-paper-bg.png);
}

:root {
  --primary-red: #742335;
  --primary-gold: #d0b306;
  --primary-green: #326760;
  --secondary-blue: #63adc3;
  --secondary-brown: #733224;
}

/* Primary divider */

/* This is the divider
that you see below
primary titles, like 
page titles. */
.primarydivider{
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin: 20px 0;
  /* background-color: black; */
}

.primarydivider::before {
  background-color: black;
  width: 45%;
  height: 10px;

  /* display: inline-block; */

  content: '';
}

.primarydivider::after {
  background-color: black; 
  width: 45%;
  height: 10px;

  /* display: inline-block; */

  content: '';
}

.primarydivider > span {
  background-color: black;

  width: 20px;
  height: 20px;

  border-radius: 20px;
}